# Ignore node_modules folder
node_modules/

# Ignore environment variable files
.env

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS files (MacOS, Windows)
.DS_Store
Thumbs.db

# Ignore IDE files (VSCode, etc.)
.vscode/
.idea/
